<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thunderscopefrontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.slidesdetail.SlidesDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Thunderscopefrontend.Material3" />
        <activity
            android:name=".ui.slides.SlidesActivity"
            android:exported="false"
            android:theme="@style/Theme.Thunderscopefrontend.Material3" /> <!-- Main Activity - Forced Landscape Mode -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Thunderscopefrontend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.SignupActivity"
            android:exported="true"
            android:theme="@style/Theme.Thunderscopefrontend.Material3" /> <!-- Sign Up Activity -->
        <activity
            android:name=".ui.patient.PatientListActivity"
            android:exported="true"
            android:theme="@style/Theme.Thunderscopefrontend.Material3" /> <!-- Patient List Activity -->
        <activity
            android:name=".ui.todolist.TodoListActivity"
            android:exported="true" /> <!-- To Do List Activity -->
        <activity
            android:name=".ui.createnewtest.CreateNewTestActivity"
            android:exported="true" /> <!-- Create New Test Activity -->
        <activity
            android:name=".ui.createnewtest.CreatePatientInfoActivity"
            android:exported="true" /> <!-- Create Patient Info Activity -->
        <activity
            android:name=".ui.createnewtest.LoadingPrepareTestActivity"
            android:exported="true" /> <!-- Loading Prepare Test Activity -->
        <activity
            android:name=".ui.patient.PatientActivity"
            android:exported="true"
            android:theme="@style/Theme.Thunderscopefrontend.Material3" /> <!-- Patient Activity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.thunderscope"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/img_paths" />
        </provider>
    </application>

</manifest>